* {
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 400px;
    height: 600px;
    background-color: bisque;
    border: 1px solid black;
    border-radius: 2%;
}

.screen {
    width: 90%;
    height: 160px;
    align-self: center;
    margin-top: 24px;
    background-color: white;
    border: 1px solid black;
    border-radius: 2%;
}

.number-pad {
    height: 440px;
    width: 90%;
    align-self: center;
}

button {
    width: 68px;
    height: 68px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 2%;
    background-color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: black;
}