* {
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 400px;
    height: auto;
    background-color: bisque;
    border: 1px solid black;
    border-radius: 2%;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 160px;
    align-self: center;
    margin-top: 24px;
    background-color: white;
    border: 1px solid black;
    border-radius: 2%;
    align-content: flex-end;
    overflow-wrap: break-word;

}

.screen-top {
    height: 25%;
    width: 95%;
}

.screen-bottom {
    height: 65%;
    width: 95%;
    font-size: 24px;
}

.number-pad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    height: 440px;
    width: 90%;
    margin: 20px 0;
    align-self: center;

}

.clear-btn {
    grid-column: 1 / span 2;
    grid-row: 1 / 1;
}

.delete-btn {
    grid-column: 3 / span 2;
}

.btn {
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 2%;
    background-color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: black;
}
.btn:hover {
    background-color:lightgrey;
    border: 2px solid black;
}